Repository rh-api-management/cloud-resources-operator-product-build: changes, and which Tekton pipelines are due for each by the changed paths.
All: cloud-resource-operator-on-pull-request, cloud-resource-operator-on-push

.tekton/cloud-resource-operator-pull-request.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/rh-api-management/cloud-resources-operator-product-build?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/pull_request_number: '{{pull_request_number}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "pull_request" && target_branch == "main" &&
      (".tekton/cloud-resource-operator-pull-request.yaml".pathChanged() ||
      ".tekton/cloud-resource-operator-push.yaml".pathChanged() ||
      ".tekton/multi-arch-build-pipeline.yaml".pathChanged() ||
      "Containerfile.cloud-resource-operator".pathChanged() ||
      "Containerfile.cloud-resource-operator-bundle".pathChanged() ||
      "cloud-resource-operator".pathChanged())
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: cloud-resources-operator
    appstudio.openshift.io/component: cloud-resources-operator
    pipelines.appstudio.openshift.io/type: build
  name: cloud-resource-operator-on-pull-request
  namespace: api-management-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/api-management-tenant/cloud-resources-operator/cloud-resources-operator:on-pr-{{revision}}
  - name: dockerfile
    value: /Containerfile.cloud-resource-operator
  - name: path-context
    value: .
  - name: build-platforms
    value:
    - localhost
    - linux/arm64
  - name: prefetch-input
    value: '{"type": "gomod", "path": "cloud-resource-operator/"}'
  - name: hermetic
    value: "true"
  - name: build-source-image
    value: "true"
  pipelineRef:
    name: build-pipeline
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'

.tekton/cloud-resource-operator-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/rh-api-management/cloud-resources-operator-product-build?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    build.appstudio.openshift.io/build-nudge-files: "bundle-hack/update_bundle.sh"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch == "main" &&
      (".tekton/cloud-resource-operator-pull-request.yaml".pathChanged() ||
      ".tekton/cloud-resource-operator-push.yaml".pathChanged() ||
      ".tekton/multi-arch-build-pipeline.yaml".pathChanged() ||
      "Containerfile.cloud-resource-operator".pathChanged() ||
      "cloud-resource-operator".pathChanged())
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: cloud-resources-operator
    appstudio.openshift.io/component: cloud-resources-operator
    pipelines.appstudio.openshift.io/type: build
  name: cloud-resource-operator-on-push
  namespace: api-management-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/api-management-tenant/cloud-resources-operator/cloud-resources-operator:{{revision}}
  - name: dockerfile
    value: /Containerfile.cloud-resource-operator
  - name: path-context
    value: .
  - name: build-platforms
    value:
    - localhost
    - linux/arm64
  - name: prefetch-input
    value: '{"type": "gomod", "path": "cloud-resource-operator/"}'
  - name: hermetic
    value: "true"
  - name: build-source-image
    value: "true"
  pipelineRef:
    name: build-pipeline
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'

Update Konflux references
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: cloud-resource-operator-on-pull-request, cloud-resource-operator-on-push

MGDAPI-6619 update IMAGE and IMAGE_DIGEST
  .tekton/multi-arch-build-pipeline.yaml
Due: cloud-resource-operator-on-pull-request, cloud-resource-operator-on-push

MGDAPI-6619 add sast-shell-check & sast-unicode-check to bundle piipelines
  .tekton/single-arch-build-pipeline.yaml
Due: none

MGDAPI-6619 updated dockerfiles to go1.23
  Containerfile.cloud-resource-operator
  drift-cache/cloud-resource-operator/Dockerfile
Due: cloud-resource-operator-on-pull-request, cloud-resource-operator-on-push

MGDAPI-6618 update bundle v1.1.6
  Containerfile.cloud-resource-operator-bundle
Due: cloud-resource-operator-on-pull-request

Remove replaces from 1.1.6 CSV
  bundle-hack/update_bundle.sh
Due: none

check cro konflux builds before RHOAM 1.44
  README.md
Due: none

check cro konflux builds before RHOAM 1.44
  .idea/workspace.xml
  .tekton/cloud-resource-operator-bundle-pull-request.yaml
  .tekton/cloud-resource-operator-bundle-push.yaml
  .tekton/cloud-resource-operator-pull-request.yaml
  .tekton/cloud-resource-operator-push.yaml
  README.md
Due: cloud-resource-operator-on-pull-request, cloud-resource-operator-on-push

MGDAPI-6912 implement KONFLUX-5207 by adding component specific service accounts
  .tekton/cloud-resource-operator-bundle-pull-request.yaml
  .tekton/cloud-resource-operator-bundle-push.yaml
  .tekton/cloud-resource-operator-pull-request.yaml
  .tekton/cloud-resource-operator-push.yaml
Due: cloud-resource-operator-on-pull-request, cloud-resource-operator-on-push

MGDAPI-6912 update to go1.24
  Containerfile.cloud-resource-operator
Due: cloud-resource-operator-on-pull-request, cloud-resource-operator-on-push

MGDAPI-6912 update to go1.24
  drift-cache/cloud-resource-operator/Dockerfile
Due: none

MGDAPI-6912 update bundles 1.1.7
  Containerfile.cloud-resource-operator-bundle
Due: cloud-resource-operator-on-pull-request

MGDAPI-6899 - CRO Konflux check
  .gitignore
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  Containerfile.cloud-resource-operator
  Containerfile.cloud-resource-operator-bundle
  bundle-hack/update_bundle.sh
  drift-cache/cloud-resource-operator/Dockerfile
  pyproject.toml
  rpms.in.yaml
  rpms.lock.yaml
Due: cloud-resource-operator-on-pull-request, cloud-resource-operator-on-push

prefetch update from 0.2 to 0.3 to support go 1.25
  .gitignore
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: cloud-resource-operator-on-pull-request, cloud-resource-operator-on-push

Update drift-cache for cloud-resource-operator Go 1.25 Dockerfile
  drift-cache/cloud-resource-operator/Dockerfile
Due: none

MGDAPI-6598: bump CRO submodule to 0f169b691 and bundle 1.1.8
  Containerfile.cloud-resource-operator-bundle
Due: cloud-resource-operator-on-pull-request

MGDAPI-6598 keep-replaces and update CRO submodule
  bundle-hack/update_bundle.sh
Due: none

MGDAPI-7052 bump CRO submodule with CVE fixes and sync drift-cache
  drift-cache/cloud-resource-operator/Dockerfile
Due: none
